.vs
*.sln
*.csproj
!/[Aa]ssets/**/*.meta
[Aa]ssets/Plugins/**/*.mdb
[Aa]ssets/Plugins/**/*.meta
**/[Pp]ackages/*/*
**/[Pp]ackages/packages-lock.json
*.mdb
*.pidb.meta
*.pdb.meta
*.mdb.meta
artifacts/
il2cpp_cache/
/[Ll]ibrary/
*.[Cc]ache
/[Ll]ogs/
x64/
x86/